@keyframes shake {
  0% { transform: translate(0) }
  25% { transform: translate(-8px) }
  50% { transform: translate(8px) }
  75% { transform: translate(-4px) }
  100% { transform: translate(0) }
}
#key-lock.shake {
  animation: shake 1s ease;
}
@keyframes lockFall {
  0% { transform: translateY(0); opacity: 1; }
  30% { transform: translateY(-10px); }
  100% { transform: translateY(100px); opacity: 0; }
}
#key-lock.fall {
  animation: lockFall 0.5s ease-in forwards;
}

.lock-block {
  opacity: 0;
  box-sizing: content-box;
  padding: 5px;
  width: 1.5rem;
  height: 2.3rem;
  border: 2px solid var(--accent);
  transition: transform 0.5s ease;
}
@keyframes blockIn {
  0% { transform: rotateX(90deg); opacity: 0; }
  50% { transform: translateY(0); opacity 0.3; }
  100% { transform: translateY(0); transform: rotateX(0deg); opacity: 1; }
}
.lock-block.active {
  animation: blockIn 1s ease forwards;
  animation-delay: 1s;
}
