:root {

}

canvas.content {
  opacity: 0.6;
  mix-blend-mode: hard-light;
}

#content {
  display: grid;
  grid-template-rows: 15svh auto auto;
  grid-template-areas: 
  "header" 
  "gallery" 
  "footer";
  height: auto;
  overflow: visible;
}

#gallery {
  grid-area: gallery;
  height: auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "rgb" "cmyk";
  gap: 2rem;
  padding: 2vw 0 5rem 0;
  margin: 0vw 8vw 0vw 8vw;
  /*max-height: calc(100svh - 15svh -100px);*/

  background: color-mix(in srgb, var(--bg) 50%, #2d2d2d);
}


/*LINK-CONTAINER*/
.link-container {
  min-height: 40vh;
  height: auto;
  background: var(--text-h);
  transition: transform 0.4s ease;
}
.link-container:hover {
  transform: scaleY(1.1);
}
.link-container .reveal-link {
  opacity: 0;
  transform: translateY(4px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.link-container:hover .reveal-link {
  opacity: 1;
  transform: translateY(0);
}

.showcase {
  height: auto;
  align-self: stretch;
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
  min-height: 200px;
  width: 100%;
  padding: 1em 3% 1em 5%;
  box-sizing: border-box;

  margin-top: 0;

  transition: 
    grid-template-columns 0.5s ease,
    gap 0.2s,
    margin-top 0.3s ease;

  color: black;
}
.showcase:has(:hover) {
  margin-top: 1rem;
}
.showcase .link-container:nth-child(1) {
  
}
.showcase:has(.link-container:nth-child(2):hover) {
  grid-template-columns: 1fr 1.7fr 1fr;
  gap: 1rem;
}
.showcase:has(.link-container:nth-child(3):hover) {
  grid-template-columns: 1fr 1fr 1.7fr;
  gap: 1rem;
}
.showcase:has(.link-container:nth-child(4):hover) {
  grid-template-columns: 1fr 1fr 1fr 1.7fr;
  gap: 1rem;
}


/*RGB*/
#digital-artwork-rgb {
  grid-area: rgb;
  position: relative;
  min-height: 50svh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#showcase-rgb {
  grid-template-columns: 1.7fr 1fr 1fr;
}

/*CMYK*/
#physical-artwork-cmyk {
  grid-area: cmyk;
  position: relative;
  min-height: 40svh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#showcase-cmyk {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*HEADING STYLE*/
.showcase-heading {
  align-self: start;
  font-family: var(--mono);
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--text-h);
  padding: 0 0 0 0.5em;
  margin: 0;
}
